


<div>
    <!-- <h3>
      Author
    </h3> -->
    <p>
      <div>
          <a href="{{ "/index" | prepend:site.baseurl }}">Blog</a> |
          <a href="{{ "/archive" | prepend:site.baseurl }}">Archive</a> | 
          <a href="{{ "/about" | prepend:site.baseurl }}">About</a> | 
          <a href="{{ "/work" | prepend:site.baseurl }}">Work</a>
          <!-- <img src="https://avatars.githubusercontent.com/u/3607534?s=96&v=4" alt="Laura Jordana"> -->
          <!-- <a class="social" style="color: #55acee;" href="https://twitter.com/laurajordana22" role="button" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
          <a class="social" style="color: #333;" href="https://github.com/lauramariel" role="button" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
          <a class="social" style="color: #0077b5;" href="https://linkedin.com/in/laurajordana" role="button" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a> -->
      </div>
    </p>


  
  </div>