<div>
  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Laura Jordana</h4>
      <div class="media-body">
        <img src="https://avatars.githubusercontent.com/u/3607534?s=96&v=4" alt="Laura Jordana">
      </div>
    </div>
  </p>

<!-- Twitter -->
<a style="color: #55acee;" href="https://twitter.com/laurajordana22" role="button"><i class="fab fa-twitter-square"></i></a>

<!-- Github -->
<a style="color: #333;" href="https://github.com/lauramariel" role="button"><i class="fab fa-github-square"></i></a>

<!-- LinkedIn -->
<a style="color: #0077b5;" href="https://linkedin.com/in/laurajordana" role="button"><i class="fab fa-linkedin"></i>

</i></a>

</div>
